.overlay {
    position : absolute;
    opacity : 0.4;
    z-index : 10001;
}

.icon {
    background-color : rgba(0,0,0,0) !important;
    width : 30px !important;
    height : auto !important;
    margin : 0 !important;
    border : 0 !important;
    padding : 0 !important;
}

.icon:hover {
    opacity : 1.0;
    cursor : pointer;
}

#box {
    display : none;
    padding : 15px;
    z-index : 10002;
    background-color : white;
}

#boxContent {
}

#boxImg {
}

#boxClose, #boxDownload, #boxMultiDownload {
    top : -15px;
}

#boxClose {
    right : -15px;
}

#boxDownload {
    right : 15px;
    
}

#boxMultiDownload{
    right : 45px;
}

#boxUpIcon, #boxDownIcon, #boxLeftIcon, #boxRightIcon, #boxUgoiraIcon {
    opacity : 1.0;
}

#boxUp:hover, #boxDown:hover, #boxLeft:hover, #boxRight:hover, #boxUgoira:hover {
    cursor : pointer;
}

#boxUgoira {
    position: absolute;
    top : 0px;
    left : 35%;
    width : 30%;
    height : 100%;
}

#boxUgoiraIcon {
    left : 50%;
    top : 50%;
    margin-left : -15px !important;
    margin-top : -15px !important;
}

#boxUp, #boxDown {
    position : absolute;
    width : 30%;
    left : 35%;
    height : 35%;
}

#boxUp {
    top : 0px;
}

#boxDown {
    bottom : 0px;
}

#boxUpIcon, #boxDownIcon {
    left : 50%;
    margin-left : -15px !important;
}

#boxUpIcon {
    top : 30px;
}

#boxDownIcon {
    bottom : 30px;
}

#boxLeft, #boxRight {
    position : absolute;
    height : 100%;
    width : 35%;
    top : 0px;
}

#boxLeft {
    left : 0px;
}

#boxRight {
    right : 0px;
}

#boxRightIcon, #boxLeftIcon {
    top : 50%;
    margin-top : -15px !important;
}

#boxRightIcon {
    right : 30px;
}

#boxLeftIcon {
    left : 30px;
}

#boxLoading {
    position : absolute;
    display : block;
    z-index : 20000;
    background-color : rgba(0,0,0,0);
    width : 30px;
    height : auto;
    margin : 0;
    border : 0;
    padding : 0;
}

#boxShadow {
    display : none;
    position : fixed;
    background-color : Black;
    opacity : 0.3;
    top : 0;
    left : 0;
    z-index : 9999;
}

#boxTitle {
    top : -15px;
    left : -15px;
    height : 30px;
    line-height : 30px;
    background-color : SkyBlue;
    border-radius : 25px;
    overflow : hidden;
}

#boxTitle:hover {
    opacity : 1.0;
    overflow : visible;
}
