.overlay {
    position : absolute;
    opacity : 0.4;
    z-index : 10001
}

.icon {
    background-color : rgba(0,0,0,0) !important;
    width : 30px !important;
    height : auto !important;
    margin : 0 !important;
    border : 0 !important;
    padding : 0 !important;
}

#box {
    display : none;
    padding : 20px;
}

#boxShadow {
    display : none;
    position : fixed;
    background-color : Black;
    opacity : 0.3;
    top : 0;
    left : 0;
    z-index : 9999;
}
